<header>
    <ul>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li>
            <form action="auth/out" method="post">
                <a onclick="this.parentNode.submit()", href="#" >4</a> 
            </form>
        </li>
    </ul>
</header>