<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/headinfo.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <br>
    <h1>Foro</h1>
    <%- JSON.stringify(data) %>
    <br><br><br><br><br>
    <%-build(data)%>
</body>
</html>