<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/headinfo")%>
</head>
<body>
    <form action="/auth/login" method="post">
        <input type="text" name="rut" id=""><br><input type="password" name="password" id=""><br><input type="submit" value="">
    </form>
    <br>
    <% if (locals.message) { %>
        <div><%- message %><div>
    <% } %>
</body>
</html>